 .dados{
    font-size: 20px;
    color: black;
    border-color: black;
    border-width:3px ;
    text-align: center;
    margin-top: 10px;
}
 
.cadastroContainer {
    background-color: white;
}
 
.inputField
{
    font-size: 1.15rem;
    position: relative;
    --primary: #b3b792;
    margin: 8px;
    all: unset;
    color: #809671;
    padding: 1rem;
    border: 2px solid #d2ab80;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.campoArea {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
    border-radius: 50px;
}
 
.formArea {
    width: 420px;
    height: auto;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 24px;
}
 
.form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 6px;
}

.btnAreaCadastro
{
  display: flex;
  width: 100%;
}

.btnCadastro {
    all: unset;
}

.btnCadastro {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 26px;
    background-color: #f8f3eb;
    border: 2px solid #d2ab80;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
  }
  
  .btnbtnCadastro::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #d2ab80;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
  }
  
  .btnbtnCadastro:hover::after {
    translate: 0;
  }
  .btnCadastro:hover {
    background-color: #d2ab80;
    color: #f8f3eb;
  }

 