@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.loginBody {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBodyArea {
    font-family: Inter, sans-serif;
    height: 100%;
    width: 70vw;
    background-color: #f8f3eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

.loginInputArea, .passArea {
    font-size: 1.25rem;
    position: relative;
    --primary: #b3b792;
    margin: 20px;
}



.inputLogin, .inputSenha {
    all: unset;
    color: black;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loginLabel, .senhaLabel {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #809671;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputLogin:focus{
    border: 1px solid var(--primary);
}

.inputLogin:is(:focus, :valid) ~ .loginLabel{
    transform: translateY(-120%) scale(0.7);
    background-color: #f8f3eb;
    padding-inline: 0.3rem;
    color: var(--primary);
}


.inputSenha:focus{
    border: 1px solid var(--primary);
}

.inputSenha:is(:focus, :valid) ~ .senhaLabel{
    transform: translateY(-120%) scale(0.7);
    background-color: #f8f3eb;
    padding-inline: 0.3rem;
    color: var(--primary);
}


/* botao */

.btnLogin {
    all: unset;
}

.btnLogin {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 26px;
    background-color: #f8f3eb;
    border: 2px solid #d2ab80;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
  }
  
  .btnLogin::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #d2ab80;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
  }
  
  .btnLogin:hover::after {
    translate: 0;
  }
  .btnLogin:hover {
    background-color: #d2ab80;
    color: #f8f3eb;
  }

  /* esqSenha */

  .esqSenhaArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 0 15px;
    font-size: 0.9em;
    color: #809671;
    flex: 1;
  }
  .esqSenhaArea label:nth-child(2) {
    order: 1;
  }
  .esqSenhaArea label {
    display: flex;
    align-items: center;
  }
  .esqSenhaArea label input[type="checkbox"] {
    margin-right: 6px;
  }
  .esqSenhaArea label a {
    color: #809671;
    text-decoration: none;
  }
  .esqSenhaArea label a:hover {
    text-decoration: underline;
  }

  /* checkbox */
  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #d2ab80;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #d2ab80;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #d2ab80;
    border-color: #d2ab80;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  
  
