.contentCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    flex: 1;
}

.centralizeArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buscaArea {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.rowArea {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#barradebusca {
    background-color: transparent;
    padding-left: 7px;
    font-style: italic;
    font-size: 12px;
    border: solid 1px #929292;
    border-radius: 25px;
    height: 50px;
    width: 230px;
    margin-bottom: 10px;
}

.iconsArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoriaContent {
    display: flex;
    flex-direction: row; /* Cards in a row */
    overflow-x: auto; /* Horizontal scroll */
    gap: 10px; /* Space between cards */
    width: 100%;
    padding: 10px;
}

.cardAreaCat {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0; /* Prevent shrinking */
}

.cardContentCat {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./../../assets/images/casaF/Capa.jpeg);
    border-radius: 10px;
    border: 1px solid rgb(145, 145, 145);
}

.cardContentCat2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./../../assets/images/Chácara\ 1.jpg);
    border-radius: 10px;
    border: 1px solid rgb(145, 145, 145);
}

.cardtexto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    bottom: 10px;
    left: 10px;
}

.cardtextoHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nota {
    font-size: 14px;
}

.star {
    font-size: 20px;
    color: gold;
}

.letraMaior {
    font-size: 18px;
}

.letraMenor {
    font-size: 15px;
}
