
.contentCat
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    flex: 1;
}

.buscaArea
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}


.rowArea
{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 5px; */
}

#barradebusca
{
    background-color:transparent;
    padding-left:7px;
    font-style:italic;
    font-size:12px;
    border:solid 1px #929292;
    border-radius: 25px;
    height:50px;
    width:230px;
    margin-bottom: 10px;
}

.iconsArea 
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cardAreaCat 
{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.titulo:link
{
    text-decoration: none;
    color: #000;
}


.cardtexto
{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    position: absolute;
    margin-top: 390px;
    margin-left: 10px;
}

.nota
{
    align-items: center;
    position: relative;
    justify-content: space-around;
    margin-left: 335px;
    margin-bottom: -15px;
}

.star 
{
    margin-left: 320px;
    margin-bottom: -15px;
    width: 12px;
}

.nota
{
    font-size: 14px;
}

.letraMaior
{
    font-size: 18px;
}

.letraMenor
{
    font-size: 15px;
}

.categoriaContent {
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 100px;
}

.cardContentCat 
{
    width: 600px;
    height: 400px;
    display: flex;
    background-image: url(./../../assets/images/casaF/Capa.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 1px solid rgb(145, 145, 145);
    margin: 10px;
    
    
}
