 /* Estilo para o contêiner do carrossel */
 .slider-container {
    width: 600px; /* Largura desejada */
    height: 400px; /* Altura desejada */
    margin: auto; /* Centraliza o carrossel horizontalmente */
  }
  
  /* Estilo para as imagens no carrossel */
  .slider-image img {
    width: 100%; /* Faz com que a imagem preencha todo o espaço disponível */
    height: 100%; /* Faz com que a imagem preencha todo o espaço disponível */
    object-fit: cover; /* Redimensiona a imagem para preencher o contêiner */
  }
  
  /* Estilo para os pontos de navegação (dots) */
  .slick-dots {
    bottom: 10px; /* Distância da parte inferior */
  }
  
  /* Estilo para os dots individuais */
  .slick-dots li button {
    width: 10px; /* Largura dos dots */
    height: 10px; /* Altura dos dots */
    border-radius: 50%; /* Transforma em círculos */
    background-color: #ddd; /* Cor de fundo dos dots */
    border: none; /* Remove a borda */
    margin: 0 5px; /* Espaçamento entre os dots */
  }
  
  /* Estilo para os dots ativos (selecionados) */
  .slick-dots li.slick-active button {
    background-color: #555; /* Cor de fundo dos dots ativos */
  }