.bodyMaisInf {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgMaisInf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Cria duas colunas de igual tamanho */
    grid-gap: 10px;
    /* Espaçamento entre as imagens */
}

.imgMaisInf img {
    height: 300px;
    width: 500px;
    margin: 10px;

}

.basicInfo {
    display: flex;
    width: 600px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.pBasifInfo {
    font-size: 20px;
    text-shadow: 1px;
}

.descrInfoArea {
    display: flex;
    height: 400px;
    width: 800px;
    /* background-color: aqua; */

}

.caracInfoArea {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 39px;
}

.caracInfoArea li {
    list-style-type: disc;
}

.descrTxtArea {
    display: flex;
    padding: 20px;
}

.descrTxtArea p {
    font-size: medium;
    text-align: justify;
    text-shadow: 1px;
}

.ondeInfoArea {
    display: flex;
    flex-direction: column;
}

.mapaInfoArea img {
    height: 300px;
}


.btnMaisInfo {
    all: unset;
}

.btnMaisInfo {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 26px;
    background-color: #f8f3eb;
    border: 2px solid #d2ab80;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.btnMaisInfo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #d2ab80;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
}

.btnMaisInfo:hover::after {
    translate: 0;
}

.btnMaisInfo:hover {
    background-color: #d2ab80;
    color: #f8f3eb;
}

.comentariosMaisInf {
    height: 200px;

}

.comentariosMaisInf img {
    width: 100%;
    height: 100%;
}