@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.headerAreaTotal {
    background-color: #f8f3eb;
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: Inter, sans-serif;
   
}

.logoHeader {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.logoHeaderImg {
    height: 150px;
}

.ondeAreaHeaderAll {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cidadesAreaHeader {
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: #f8f3eb;
    text-decoration: underline;
    color: #d2ab80;
}

.ondeTxtHeader {
    text-align: center;
    padding: 40px;
}

/* user area */

.userArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    right: 0px;
}

.obilongo {
    display: flex;
    flex: 1;
    border: solid black 2px;
    height: 60px;
    width: 100px;
    position: absolute;
    right: 0px;
    border-radius: 50px;
}

.userIco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.iconU {
    
}