@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

 
 .aHeader {
   text-decoration: none;
   font-size: 22px;
   font-weight: 1000;
   /* font-family: 'Courier New', Courier, monospace; */
 }

 .logoHeaderImg {
    height: 150px;
    width: 150px;
  -webkit-filter: drop-shadow(5px 5px 5px #c9c9c9);
  filter: drop-shadow(5px 5px 5px #a7a7a7);
}
 
 
 .navbarHeader {
   height: 125px;
   background-color: #f8f3eb;
   padding: 20px 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;

  
  
 }
 
 .navbarHeader .logo i {
   color: #d2ab80;
   font-size: 22px;
 }
 
 .navbarHeader .logo a {
   font-size: 24px;
   font-weight: 700;
   /* color: white; */
   margin-left: 12px;
 }
 
 .menuHeader {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 32px;
 }
 
 .menu-links-Header {
   display: flex;
   gap: 24px;
   /* border-right: 1px solid #999999; */
   padding-inline: 24px;
 }
 
 .menu-links-Header a {
   font-weight: 500;
   color: #000000;
   padding: 8px 16px;
 }
 .menu-links-Header a:hover {
   color: white;
 }
 .btnLoginHeader{
   font-weight: 500;
   padding: 12px 22px;
   background-color: transparent;
   color: #999999;
   border-radius: 10px;
   border: 2px solid #d2ab80;
   transition: 0.2s;
   font-size: 30px;
 }
 .btnLoginHeader:hover {
   background-color: #d2ab80;
   color: white;
 }
 
 .menu-btn {
   font-size: 32px;
   /* color: white; */
   display: none;
   cursor: pointer;
 }
 
 @media (max-width: 53rem) {
   .menuHeader {
     display: none;
   }
 
   .menu-btn {
     display: block;
   }
 }


 /* From Uiverse.io by alexmaracinaru */ 
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #d2ab80;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #d2ab80;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
