* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.sectionRodapeTitulo, .sectionRodapeTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 6px;
}

.rodapeArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
    background-color: #F1F1F1;
    margin-top: 10px;
    bottom: 0;
    position: fixed;
}

.sectionRodapeTitulo, h1
{
    font-size: 16px;
}

.sectionRodapeTexto, h3
{
    font-size: 12px;
}

.iconArea {
    font-size: 25px;
    margin: 1px;
}